<div class="container">
<p class='admin-titles'>EVENT FORM
  <%= link_to 'ADMIN INDEX', admin_index_path, class: "btn btn-primary back-lit-btn pull-right" %>
</p>
<%= form_for [:admin, @event],:html => { :multipart => true } do |f| %>
  <% if @event.errors.any? %>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
      <li class='rederror'><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <div><%= f.label :image %>
    <br>
    <%= f.file_field :image %>
  </div>
    <br>
  <div>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title,  class: "form-control" %>
  </div>
  <div>
    <%= f.label :date %>
    <br>
    <%= f.datetime_local_field :date,  class: "form-control"  %>
  </div>
  <div>
    <%= f.label "Total Seats" %>
    <br>

    <%= f.text_field :seats,  class: "form-control"   %>

  </div>
  <div>
    <%= f.label :body %>
    <br>
    <%= f.text_area :body,  class: "form-control", rows: 10   %>
  </div>
  <div>
    <%= f.label :speaker %>
    <br>
    <%= f.text_field :speaker,  class: "form-control"   %>
  </div>
  <div>
    <%= f.label :bio %>
    <br>
    <%= f.text_area :bio,  class: "form-control"   %>
  </div>
  <div>
    <%= f.label :linkedin %>
    <br>
    <%= f.url_field :linkedin,  class: "form-control"   %>
  </div>
  <div>
    <%= f.label :twitter %>
    <br>
    <%= f.url_field :twitter,  class: "form-control"   %>
  </div>
    <div class="center">
      <%= f.submit "Save", class: "btn btn-primary" %>
    </div>
<% end %>
</div>
