<table width="900px">
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Body</th>
    <th>Speaker</th>
    <th>Biography</th>
    <th>Linkedin</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% @events.each do |event| %>
  <div>
    <tr>

      <td><%= event.title %></td>
      <td><%= event.date.to_formatted_s(:short)%></td>
      <td><%= event.body.truncate(10) %></td>
      <td><%= event.speaker %></td>
      <td><%= event.bio.truncate(50) %></td>

      <% if (event.linkedin && event.linkedin!='') %>
        <td><a href="<%=event.linkedin%>">Profile</a></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>

      <% if (event.twitter && event.twitter!='') %>
        <td><a href="<%=event.twitter%>">Profile</a></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>

      <td><%= link_to "Show Event", event_path(event) %></td>
      <td><%= link_to "Modify Event", edit_event_path(event) %></td>
      <td><%= button_to("Delete Event",event_path(event),method: :delete, data: {confirm: "Are you sure you want to delete this event?"})%></td>
      
    </tr>
  </div>
  <% end %>
</table>