<div class="form">
  <%= semantic_form_for @attendee do |f| %>
    <%= f.input  :name, input_html: {class: "attendee-form"} %>
    <%= f.input  :email, input_html: {class: "attendee-form"} %>
    <%= f.input  :company, input_html: {class: "attendee-form"} %>
    <p>Are you interested in joining our mailing list? <%= f.input :mail_list, :as => :boolean %></p>
    <%= f.submit %>
  <% end %>
<div class="form">