<section id="section-signup">
<%= render 'alerts'%>
        <div class="row span2">

          <div class="col-lg-6 col-md-6 col-sm-6 box">
            <h3 class="text-shadow upcase">Please select up to 2 events that you would like to attend:</h3>
            <%= form_for @attendee do |f| %>
              <div class="titles"><%= render "events/event_list_form" %></div>
              <%= f.label :name, class: "category" %>
              <%= f.text_field :name,  class: "form-control" %>
              <%= f.label :email, class: "category" %>
              <%= f.text_field :email,  class: "form-control" %>
              <%= f.label :company, class: "category" %>
              <%= f.text_field :company,  class: "form-control" %>
              <br>

              <%#= f.input :name, input_html: {class: "attendee-form form-group"} %>
              <%#= f.input :email, input_html: {class: "attendee-form"} %>
              <%#= f.input :company, input_html: {class: "attendee-form"} %>

              <p class="titles"><%= f.check_box :mail_list %>Check this box if you like us to keep you up to date on future news and events </p>
              <p class="titles"> Please tell us about future topics you would like to learn about:</p>
                <ul > 
                  <% Category.all.each do |category| %>

                    <li  class="col-lg-6 col-md-6 col-sm-6"><%= hidden_field_tag "attendee[category_ids][]", nil %>
                    <%= check_box_tag "attendee[category_ids][]", category.id, @attendee.categories.include?(category), id: dom_id(category) %>
                      <%= label_tag dom_id(category), category.name, class: "category" %>
                    </li>
                  <% end %>

                </ul>

              <br>
              <div class="center"><%= f.submit "Submit", class: "home-button btn btn-warning"%></div>

              <% end %>


          </div>
          
          <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="row">
                <div class="map center">
                          <h3 class="upcase">Venue @CodeCore's head office:</h3>
                          <h5 class="upcase">88 West Pender Street
                          <h5 class="upcase">Vancouver Canada
                          <h5 class="upcase">V6B 6N9
                          
                </div>
            </div>
            <div class="row">
                <div class="map center upcase">
                    <iframe width='100%' height='400px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/abrarmusa.h7khefgh/mm/zoompan,zoomwheel,geocoder,share.html'></iframe>
                    <h5>Located on the second floor of International Village Mall (right on top of the Starbucks)</h5>
                </div>
            </div>
              <div class="clearfix"><div>

          </div>
        </div>

</section>