      <table class="table">
        <% @events.each do |event| %>
        <tr class="link" data-id="#<%=event.id%>">
          <td><a href="#<%=event.id%>"><p><%=event.date.strftime("%A, %B %C")%></p></a></td>
          <td><a href="#<%=event.id%>"><%=event.title%></a></td>
        </tr>
        <% end %>

      </table>