<%= form_for @event,:html => { :multipart => true } do |f| %>
  <% if @event.errors.any? %>
    <ul>
      <% @event.errors.full_messages.each do |message| %>
      <li class='rederror'><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div><%= f.label :image %>
    <br>
    <%= f.file_field :image %>
  </div>
    <br>
  <div>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title  %>
  </div>
  <div>
    <%= f.label :body %>
    <br>
    <%= f.text_area :body  %>
  </div>
  <div>
    <%= f.label :date %>
    <br>
    <%= f.date_field :date  %>
  </div>
  <div>
    <%= f.label :speaker %>
    <br>
    <%= f.text_field :speaker  %>
  </div>
  <div>
    <%= f.label :bio %>
    <br>
    <%= f.text_area :bio  %>
  </div>
  <div>
    <%= f.label :linkedin %>
    <br>
    <%= f.url_field :linkedin  %>
  </div>
  <div>
    <%= f.label :twitter %>
    <br>
    <%= f.url_field :twitter  %>
  </div>
  <%= f.submit "Save" %>
<% end %>