<%= render 'events/blk_section1' %>

<%= render 'events/blk_section2' %>

<%= render 'events/blk_section3' %>


<%= render 'events/team_photos' %>

<div class="center">
  <%= link_to "Past event", events_cohort_one_path, class: "home-button btn btn-warning" %>
</div>
