<section id="photo1">

  <div class="well">
    <h2  id="titles">Introducing a new series of lunch and learn events for Vancouver's tech community.</h2> 
    <br>
    <section id="week">
      <div class="col-md-2">
        <div class="q center">When</div>
        <% @events.each do |event| %>
          <strong><%=event.date.strftime("%A, %B %C")%></strong>
          <br>
        <% end %>
      </div>
      <div class="col-md-1">
        <div class="q">What</div>
        <% @events.each do |event| %>
          <%=event.title%>
          <br>
        <% end %>
      </div>
      <div class="col-md-1">
        <div class="q">Who</div>
        <% @events.each do |event| %>
          <a href="<%=event.linkedin%>"><%= event.speaker %></a>
          <br>
        <% end %>
      </div>
        <br>
      <div class="clearfix"></div>
  
    </section>
    <p class="center">
      <a id="home-button"><%= link_to 'Register', "http://www.codecore.ca", class: "btn btn-warning btn-lg home-button"%></a>
    </p>
    <h6 id="titles">Website is currently under development by CodeCore's 1st Cohort, please visit 
      <div class="link"><a href="http://www.codecore.ca"> codecore's </a></div> website for updates</h6>      
      <!-- <h5 id="titles" class="pull-right">Website Design by CodeCore's Cohort #1</h5> -->
      <br>
    </div>
    <div id="photo-credit" class="pull-right">
      <h6><a href="http://www.flickr.com/photos/magnusl3d/6044910841/" class="cc_ref">Photo</a> by Larsson <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en" id="cc_ref">CC BYSA3.0</a></h6>      
    </div>
</section>



<%= semantic_form_for @attendee do |f| %>
<section id="about">
  <div class="schedule">
    <h2>Lunch and Learn Speaker Schedule:</h2>
  </div>

<% @events.each do |event| %>
  <div class="row">
    <div class="col-md-2">
      <div class="speaker">
        <div class="thumbnail">
          <%= image_tag event.image(:medium), class: "post-thumb"%>        
        </div>
          <h3><% if (event.linkedin && event.linkedin!='') %>
            <a href="<%=event.linkedin%>"><i class="fa fa-linkedin-square"></i></a>          
          <% end %>          
          <%= event.speaker %>
          <% if (event.twitter && event.twitter!='') %>
            <a href="<%=event.twitter%>"><i class="fa fa-twitter-square"></i></a>          
          <% end %></h3>
      </div>
    </div>
    <div class="col-md-6">
      <div class="caption">
          <h4>Topic: <strong><%= event.title %></strong></h4>
          
          <p>Description: <%= event.body.truncate(200) %></p>      
          
          <p><%= event.bio %></p>
          
      </div>
    </div>
    <div class="col-md-4">
      <div class="center">
          <%= label_tag("attendee[event_ids][]", "I want to attend #{event.speaker}'s session:")%> 
          <br><br>
          <%= check_box_tag "attendee[event_ids][]",event.id,false, data: { "class" => "custom_check" } %>
          <br>
          <p><%=event.date.strftime("%A, %B %C")%></p>
          <h5><%=event.date.strftime("%I:%M %p")%></h5>  
          <div class="clearfix"></div>
      </div>  
    </div>                
  </div> 
<% end %>

<div class="clearfix"></div>  
</section>

<section id="photo3">
  <section id="week">
    <div class="col-md-3">
      <div class="q">When</div>
      <% @events.each do |event| %>
        <strong><%=event.date.strftime("%A, %B %C")%></strong>
        <br>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="q">What</div>
      <% @events.each do |event| %>
        <%=event.title%>
        <br>
      <% end %>
    </div>
    <div class="col-md-5">
      <div class="q">Who</div>
      <% @events.each do |event| %>
        <a href="<%=event.linkedin%>"><%= event.speaker %></a>
        <br>
      <% end %>
    </div>
      <br>
    <div class="clearfix"></div>
  
  </section>
  <div class="form">
    <%= f.input :name, input_html: {class: "attendee-form"} %>
    <%= f.input :email, input_html: {class: "attendee-form"} %>
    <%= f.input :company, input_html: {class: "attendee-form"} %>
    
    <%= f.input :categories, :as => :check_boxes,:label => "Topics I am interested in:"%>
    <p>Are you interested in joining our mailing list? <%= f.input :mail_list, :as => :boolean%></p>
    <%= f.submit "Register"%>

<section id="about">
<%= f.input  :name, input_html: {class: "attendee-form"} %>
<%= f.input  :email, input_html: {class: "attendee-form"} %>
<%= f.input  :company, input_html: {class: "attendee-form"} %>
 <%=  f.input :categories, :as => :check_boxes,:label => "Topics I am interested in:"%>
<p>Are you interested in joining our mailing list? <%= f.input :mail_list, :as => :boolean%></p>
<%= f.submit "submit"%>
<% end %>

<div class="map">
  <iframe width='100%' height='500px' frameBorder='0' src='http://a.tiles.mapbox.com/v3/abrarmusa.h7khefgh/mm/zoompan,zoomwheel,geocoder,share.html'></iframe>
</div>
<div class="clearfix"><div>
</section>

