<section id="photo1">


  <div class="well">
    <h2 class="titles">Introducing a new series of lunch and learn events for Vancouver's tech community.</h2> 
    <br>
    <section class="week">
      <div class="col-md-2">
        <div class="q center">When</div>
        <% @events.each do |event| %>
          <strong><%=event.date.strftime("%A, %B %C")%></strong>
          <br>
        <% end %>
      </div>
      <div class="col-md-1">
        <div class="q">What</div>
        <% @events.each do |event| %>
          <%=event.title%>
          <br>
        <% end %>
      </div>
      <div class="col-md-1">
        <div class="q">Who</div>
        <% @events.each do |event| %>
          <a href="<%=event.linkedin%>"><%= event.speaker %></a>
          <br>
        <% end %>
      </div>
        <br>
      <div class="clearfix"></div>
  
    </section>
    <p class="center">
      <a id="home-button"><%= link_to 'Register', "http://www.codecore.ca", class: "btn btn-warning btn-lg home-button"%></a>
    </p>
    <h6 class="titles">Website is currently under development by CodeCore's 1st Cohort, please visit 
      <span class="link"><a href="http://www.codecore.ca"> codecore's </a></span> website for updates</h6>      
      <!-- <h5 class="titles" class="pull-right">Website Design by CodeCore's Cohort #1</h5> -->
      <br>
    </div>
    <div id="photo-credit" class="pull-right">
      <h6><a href="http://www.flickr.com/photos/magnusl3d/6044910841/" class="cc_ref">Photo</a> by Larsson <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.en" id="cc_ref">CC BYSA3.0</a></h6>      
    </div>

</section>

<!-- Form Section -->
<section id="about">
  <%= semantic_form_for @attendee do |f| %>
    <div class="schedule">
      <h2>Lunch and Learn Speaker Schedule:</h2>
    </div>
    <% @events.each do |event| %>
      <div class="row">
        <div class="col-md-2">
          <div class="speaker">
            <div class="thumbnail">
              <%= image_tag event.image(:medium), class: "post-thumb"%>        
            </div>
            <h3>
              <% if (event.linkedin && event.linkedin!='') %>
                <a href="<%=event.linkedin%>"><i class="fa fa-linkedin-square"></i></a>          
              <% end %>          
              <%= event.speaker %>
              <% if (event.twitter && event.twitter!='') %>
                <a href="<%=event.twitter%>"><i class="fa fa-twitter-square"></i></a>          
              <% end %>
            </h3>
          </div>
        </div>
        <div class="col-md-6">
          <div class="caption">
            <h4>Topic: <strong><%= event.title %></strong></h4>
            
            <p>Description: <%= event.body.truncate(200) %></p>      
            
            <p><%= event.bio %></p>
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="center">
            <%= label_tag("attendee[event_ids][]", "I want to attend #{event.speaker}'s session:")%> 
            <br><br>
            <%= check_box_tag "attendee[event_ids][]",event.id, data: { "class" => "custom_check" } %>
            <br>
            <p><%=event.date.strftime("%A, %B %C")%></p>
            <h5><%=event.date.strftime("%I:%M %p")%></h5>  
            <div class="clearfix"></div>
          </div>  
        </div>                
      </div> 
    <% end %>
  
  <div class="clearfix"></div>  
</section>

  <section class="week">
    <div class="col-md-3">
      <div class="q">When</div>
      <% @events.each do |event| %>
        <strong><%= event.date.strftime("%A, %B %C") %></strong>
        <br>
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="q">What</div>
      <% @events.each do |event| %>
        <%=event.title%>
        <br>
      <% end %>
    </div>
    <div class="col-md-5">
      <div class="q">Who</div>
      <% @events.each do |event| %>
        <a href="<%=event.linkedin%>"><%= event.speaker %></a>
        <br>
      <% end %>
    </div>
      <br>
    <div class="clearfix"></div>
  
  </section>

<!-- week section (Other form section) -->
  
  <section>
  <div class="form">
    <%= f.input :name, input_html: {class: "attendee-form"} %>
    <%= f.input :email, input_html: {class: "attendee-form"} %>
    <%= f.input :company, input_html: {class: "attendee-form"} %>
    
    <%= f.input :categories, :as => :check_boxes,:label => "Topics I am interested in:"%>
    <p>Are you interested in joining our mailing list? <%= f.input :mail_list, :as => :boolean%></p>
    <%= f.submit "Register"%>

    <% end %>
  </div>


  <div class="map">
    <iframe seamless src='http://a.tiles.mapbox.com/v3/abrarmusa.h7khefgh/mm/zoompan,zoomwheel,geocoder,share.html'></iframe>
  </div>
  <div class="clearfix"></div>
</section>



<section id="photo3">

  <h1>Website Created by CodeCore-CohortOne</h1>

  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 well">
      <img src="http://codecore.ca/img/team/tam.jpg" alt="..." class="center img-circle img-responsive">
      <p>Salman Alam</p>
      <p class="profile-links">
        <a href="http://www.linkedin.com/profile/view?id=316501614&trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
        <a href="https://github.com/ogryzek" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
        <a href="http://www.twitter.com/drew_bro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
      </p>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-3 well">
      <img src="http://codecore.ca/img/team/tam.jpg" alt="..." class="center img-circle img-responsive">
      <p>Jef Curtis</p>
      <p class="profile-links">
        <a href="http://www.linkedin.com/profile/view?id=316501614&trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
        <a href="https://github.com/ogryzek" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
        <a href="http://www.twitter.com/drew_bro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
      </p>
    </div>
    

    <div class="col-lg-1 col-md-1 col-sm-1">
      &nbsp;
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-3 well">
      <img src="https://lh4.googleusercontent.com/-NcMEylWHa40/AAAAAAAAAAI/AAAAAAAAAGw/FqjxH2pI84s/s120-c/photo.jpg" alt="DrewBro Profile Picture" class="center img-circle img-responsive">
      <p>Abrar Musa</p>
      <p class="profile-links">
        <a href="http://www.linkedin.com/profile/view?id=316501614&trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
        <a href="https://github.com/ogryzek" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
        <a href="http://www.twitter.com/drew_bro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
      </p>
    </div>


    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>

  </div>

  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 well">
     <img src="https://lh5.googleusercontent.com/-Q5KW5u0k_jw/UgBAzjf9kiI/AAAAAAAAAO8/lLRdbGuy6tM/s612-no/DrewGrey.png" alt="DrewBro Profile Picture" class="center img-circle img-responsive">
      <p>Drew Ogryzek</p>
      <p class="profile-links">
        <a href="http://www.linkedin.com/profile/view?id=316501614&trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
        <a href="https://github.com/ogryzek" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
        <a href="http://www.twitter.com/drew_bro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
      </p>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>

    
    <div class="col-lg-3 col-md-3 col-sm-3 well">
      <img src="http://codecore.ca/img/team/tam.jpg" alt="..." class="center img-circle img-responsive">
      <p>Arash Ouji</p>
      <p class="profile-links">
        <a href="http://www.linkedin.com/profile/view?id=316501614&trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
        <a href="https://github.com/ogryzek" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
        <a href="http://www.twitter.com/drew_bro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
      </p>
    </div>
    

    <div class="col-lg-1 col-md-1 col-sm-1">
      &nbsp;
    </div>
    
    <div class="col-lg-3 col-md-3 col-sm-3 well">
      <img src="http://codecore.ca/img/team/tam.jpg" alt="DrewBro Profile Picture" class="center img-circle img-responsive">
      <p>Brandon Ricci</p>
      <p class="profile-links">
        <a href="http://www.linkedin.com/profile/view?id=316501614&trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
        <a href="https://github.com/ogryzek" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
        <a href="http://www.twitter.com/drew_bro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
      </p>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>

  </div>

  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 well">
      <img src="https://lh6.googleusercontent.com/-yWgh3chRzjQ/TjM16BwMovI/AAAAAAAAAEY/90hSzlC_Sdc/w481-h480-no/Photo+on+2011-07-29+at+15.35.jpg" alt="..." class="center img-circle img-responsive">
      <p>Kelly Waters</p>
      <p class="profile-links">
        <a href="http://www.linkedin.com/profile/view?id=46306336&locale=en_US&trk=tyah&trkInfo=tas%3Akelly%20%2Cidx%3A2-1-2" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
        <a href="https://github.com/kwaters12" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
        <a href="https://twitter.com/kellyminjaro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
      </p>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>

    <div class="col-lg-3 col-md-3 col-sm-3 well">
      <img src="http://codecore.ca/img/team/tam.jpg" alt="..." class="center img-circle img-responsive">
      <p>Don Wong</p>
      <p class="profile-links">
        <a href="http://www.linkedin.com/profile/view?id=316501614&trk=nav_responsive_tab_profile_pic" target="_blank"><i class="fa fa-linkedin-square fa-2x linkedin-social"></i></a> 
        <a href="https://github.com/ogryzek" target="_blank"><i class="fa fa-github-square fa-2x github-social"></i></a> 
        <a href="http://www.twitter.com/drew_bro" target="_blank"><i class="fa fa-twitter-square fa-2x twitter-social"></i></a>
      </p>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1">
       &nbsp;
    </div>

  </div>



</section>