<p>Hello <%= @attendee.name%>,</p>
<br>
<p>There now seats for you on the following event:</p>
  <p>Event: <%= @event.title %> featuring <%= @event.speaker %></p>
  <p>Date: <%= formatted_date(@event.date)%> </p>
  <p>Time: <%= formatted_time(@event.date)%> </p>
  <br>  
<p>Thanks for signing up. Lunch and beverages will be provided of course!</p>
<p>Please feel free to email us if you have any questions or concerns:</p>
<a href="mailto:mirko@codecore.ca?Subject=CodeCore%20Events" target="_top">mirko@codecore.ca</a>
<br>
<p><a href="http://www.codecore.ca">CodeCore.ca</a></p>
<br>
<p>Best regards,</p>
<p>inaugural CodeCore students!</p>