<p class='admin-titles'>EVENT FORM
  <%= link_to 'ADMIN INDEX', admin_index_path, class: "btn btn-primary back-lit-btn pull-right" %>
</p>

<%= semantic_form_for [:admin,@attendee] do |f| %>
  <%= f.input  :name, input_html: {class: "attendee-form"} %>
  <%= f.input  :email, input_html: {class: "attendee-form"} %>
  <%= f.input  :company, input_html: {class: "attendee-form"} %>
  <%= f.input :categories, :as => :check_boxes,:label => "Topics chosen by attendee:"%>
  <%= f.input :events, :as => :check_boxes,:label => "Events chosen by attendee:"%>
  <p> Mailing List? <%= f.check_box :mail_list, :as => :boolean%> </p>
  <%= f.submit "Submit changes"%>
<% end %>