
<div class = "container">
<p class="admin-titles">THE REPOSITORY OF ATTENDEES
    <%= link_to 'ADMIN INDEX', admin_index_path, class: "btn btn-primary back-lit-btn pull-right" %>
</p>

<table class="table table-striped" width="900px">
  <tr>
    <th>Row</th>
    <th>Name</th>
    <th>Email</th>
    <th>Company</th>
    <th>Mail list</th>
    <th>Attending</th>
    <th>Future topics</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
  <% rownumber=0 %>
  <% @attendees.each do |attendee| %>
  <div>
    <tr>
      <td><%= rownumber+=1 %></td>
      <td><%= attendee.name %></td>
      <td><%= attendee.email%></td>
      <td><%= attendee.company %></td>
      <td><%= attendee.mail_list %></td>
      <% if attendee.events %>
      <td>
      <% attendee.events.each do |event|  %>
          <%=link_to(event.title,admin_event_path(event)) + ',' %>
      <% end %>
      </td>
      <% else %>
      <td>&nbsp;</td>
      <% end %>
      <% if attendee.categories %>
        <% cats = [] %>
        <% attendee.categories.each do |category| %>
          <% cats << category.name %>
        <% end %>
        <td>
          <%= cats.join(',') %>
        </td>
      <% else %>
      <td>&nbsp;</td>
      <% end %>

      <td><%= link_to "Modify Attendee", edit_admin_attendee_path(attendee) %></td>
      <td><%= button_to("Delete Attendee",admin_attendee_path(attendee),method: :delete, data: {confirm: "Are you sure you want to delete this attendee?"})%></td>

    </tr>
  </div>
  <% end %>
</table>